.payPaymentMethod {
    border-bottom: 1px solid #ededed;
    position: relative;
    padding-top: 10px;
    background-color: #ffffff;
}

.payPaymentMethod:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f078";
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 20px;
    font-weight: 100;
    cursor: pointer;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-property: transform;
}

.payPaymentMethod.open:after {
    transform: scaleY(-1);
}

.payPaymentMethodDetails {
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}

.payPaymentMethod.open .payPaymentMethodDetails {
    max-height: 999px;
    overflow: visible;
}

.payPaymentTitle {
    font-size: 15px;
}

.payPaymentSubTitle {
    height: 17px;
    font-size: 12px;
    overflow: hidden;
}

.payPaymentMethodSummery {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.payPaymentMethodImage {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.payImage {
    width: auto;
}

.highlight {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.045);
    width: 100%;
    margin: 10px 0px;
}

.labelText {
    position: relative;
    margin-right: 15px;
    display: inline-block;
}

.payTooltip {
    position: absolute;
    right: -25px;
}

[data-tooltip]::before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f05a";
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 999;
    bottom: 100%;
    margin-bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: left;
    left: 0;
    width: max-content;
    max-width: 350px;
    border-radius: 5px;
    font-size: 12px;
}

[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
}

.modal button.close {
    border: none;
    font-size: 20px;
    background: transparent;
    align-self: center;
    margin-left: auto;
}

.modal .modal-body {
    text-align: center;
}

.translations .hidden {
    display: none !important;
    visibility: hidden !important;
}

.translations .show_translations {
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.versionUpToDate {
    color: white !important;
    background-color: #5aa70d;
    font-weight: bold;
    border: 0;
    padding: 5px 9px !important;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

#check_version_submit {
    display: inline-block;
    margin-left: 15px
}

#paynl_version_check {
    display: inline-block;
    margin-left: 12px;
}

.payHide {
    display: none;
}

.obscuredInput {
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

.obscuredInput.display {
    text-security: none;
    -webkit-text-security: none;
    -moz-text-security: none;
}

.obscuredDisplayShow {
    cursor: pointer;
    background-image: url(/extension/paynl/admin/view/image/showPasswordIcon.png);
    height: 20px;
    width: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 35px auto;
    background-position: center center;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    top: 19px;
    right: 26px;
}